/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto%20Mono:700|Roboto%20Mono:400');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

body {
  font-family: 'Roboto Mono';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Mono';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: clamp(1.8rem, calc(7vw+1rem), 4.210rem); /* 67.36px */
    color: var(--primary);
}

h2 {font-size: clamp(1.4rem, calc(7vw+0.8rem), 3.158rem); /* 50.56px */
    color: var(--text);
}

h3 {font-size: clamp(1.2rem, calc(7vw+0.6rem), 2.369rem); /* 37.92px */
    color: var(--text);
}

h4 {font-size: clamp(1rem, calc(7vw+0.4rem), 1.777rem); /* 28.48px */
    color: var(--text);
}

h5 {font-size: clamp(0.8rem, calc(7vw+0.2rem), 1.333rem); /* 21.28px */
    color: var(--text);
}

small {font-size: clamp(0.6rem, calc(7vw+0.1rem), 0.75rem); /* 12px */
    color: var(--text);
}

/*Colors*/

:root {
    --text: #1b1a1e;
    --background: #e8e2ce;
    --primary: #42509e;
    --secondary: #80a5d6;
    --accent: #6abfc8;
}

/*Container*/
.container {
    padding: min(5em, 8%);
}

/*images*/
.img16to9 {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.img9to16 {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9/16;
    object-fit: cover;
}

.img1to1 {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.element {
    height: 100dvh;
    padding: 2em;
    background: var(--background);
    border: 12px solid var(--secondary);
}